/* --------------
FONT
--------------  */
@font-face{
    font-family: 'Clash';
    src:url('./_Design/_Fonts/ClashDisplay-Variable.ttf') format('truetype');
        font-weight: 200 700;
        font-style: normal;
}

/* --------------
GENERAL VARIABLES
--------------  */
:root{
    /* Colors */
    --darkColor: black;
    --yellowColor: yellow;
    --redColor: rgb(210, 43, 65);
    --magentaColor: rgb(220, 0, 235);
    --greenColor: rgb(0, 213, 194);
    --blueColor: rgb(0, 89, 194);

    /* Stroke width */
    --borderWidth: 2px;

    /* Font weights */
    --extraLight: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semiBold: 600;
    --bold: 700;

    /* Measurements */
    --sidebarWidth: 200px;
    --margin: 30px;
}

/* --------------
STYLING
-------------- */

/* General styling */
* {
    /* Remove default features */
    padding: 0;
    margin: 0;
    border: 0;
    /* Other styling */
    font-family: 'Clash';
    box-sizing: border-box;
    /* Comment/Uncomment this to see/hide all boxes */
    /*outline: 2px red solid;*/
}


body {
    padding: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Top part >>>>>>>>>>>>>>>>>>>>>>>>>>>> */
header {
    height: 150px;
    display: flex;
    align-items: flex-start;
}

#title {
    width: var(--sidebarWidth);
    margin-right: var(--margin);
    font-size: 30px;
}

#monthAndYear{
    flex: 1 1 1000px;
    display: flex;
    margin-right: var(--margin);
}

#month, #year {
    font-size: 140px;
    /* display: inline; */
    height: fit-content;
    transform: translateY(-30px);
}

#month {
    margin-right: 10px;
}

#year{
    font-weight: var(--extraLight);
}

#newEventBtn{
    font-size: 24px;
    width: 180px;
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    border: var(--borderWidth) solid var(--darkColor);
    border-radius: 6px;
}


/* Main part >>>>>>>>>>>>>>>>>>>>>>>>>>>> */
main{
    display: flex;
    flex-grow: 1;
}

/* Left */
#sidebar {
    width: var(--sidebarWidth);
    margin-right: var(--margin);
    display: flex;
    align-items: flex-end;
}

#eventTypes{
    width: 100%;
}

.eventTypeCheckbox{
    margin-top: 10px;
    font-weight: var(--semiBold);
}

/* Right */
#mainRight{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#monthButtons{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--margin);
}

.navBtn{
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: var(--borderWidth) var(--darkColor) solid;
    font-weight: var(--regular);
    background-color: transparent;
    outline: none;
}

#weekdaysContainer{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: var(--semiBold);
    font-size: 14px;
    margin-bottom: 10px;
}

#calendarCont{
    flex-grow: 1;
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.prevMonthDay, .currentMonthDay, .nextMonthDay{
    color: var(--darkColor);
    font-size: 40px;
    text-align: left;
    padding-top: 5px;
    border-top: 2px black solid;

}

/* Previous & next month days */
.prevMonthDay, .nextMonthday{
    font-weight: var(--extraLight);
}

/* Current month days */
.currentMonthDay{
    font-weight: var(--bold);
}


/* Footer >>>>>>>>>>>>>>>>>>>>>>>>>>>> */
footer{
    height: 50px;
}


/* Modal styles >>>>>>>>>>>>>>>>>>>>>> */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

  /* Modal Content */
  .modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 70%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  